/*一写公共的样式*/
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body{
    min-width: 1200px;
    color: #333;
    font-size:14px;
}
div{
    box-sizing: border-box;
}
div,p{
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

/* 滚动条样式 */

::-webkit-scrollbar {
    z-index: 30;
    width: 5px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-left: 1px solid #c1c1c1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #e0e0e0;
  }
  ::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    border: 0;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: none;
    border: 0;
  }
  /*去掉number上下箭头*/
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }