//element ui 特定样式重置
/deep/ .is-checked .el-switch__core:after{
    background-color:#1792E5;
}

/deep/ .el-switch__core:after{
    background-color:#D0D0D0;
    top:-4px;
}
/deep/ .el-switch__core{
    height: 8px;
    border:none;
    border-radius: 12px;
}

/deep/.el-form--label-top .el-form-item__label{
    line-height: 1;
}

/deep/ .el-input__inner{
    height: 32px;
    line-height: 32px;
    background-color: #f0f0f0;
    border:none;
    border-radius: 40px;
}

/deep/ .el-form--label-top .el-form-item__label{
    padding:0 0 0 5px;
    font-size:12px;
    color: #a0a0a0;

}
/deep/ .el-form--inline .el-form-item{
    margin-right: 16px;
}

/deep/.el-table, /deep/ .el-table__expanded-cell{
    background-color: #f0f0f0;
}
/deep/ .el-table td, /deep/ .el-table th.is-leaf{
    border-bottom:1px solid #e0e0e0;
}
/deep/ .el-input__icon{
    line-height: 32px;
}